@use '../../sass/' as *;

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    @include mobile {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.load-more {
    text-align: center;
}