@use '../../sass/' as *;

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;


    &>img {
        margin-right: 10px;
        width: 50px;

        @include mobile {
            width: 30px;
            margin-right: 0;
        }
    }
}

.header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease;

    &.shrink {
        height: var(--header-shrink-height);
        background-color: var(--body-bg);
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 100%;

    @include mobile {
        justify-content: center;
    }
}

.nav {
    display: flex;
    align-items: center;

    &>*~* {
        margin-left: 2rem;
    }

    &-item {
        padding: 5px 0;
        font-weight: 700;
        position: relative;
        font-size: 1.5rem;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            transition: width 0.5s ease;
            background-color: var(--main-color);
        }

        &.active::after,
        &:hover::after {
            width: 100%;
        }
    }

    @include mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        background-color: var(--body-bg);
        padding: 0 2rem;
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>*~* {
            margin-left: 0;
        }
    }


}